.video-container video{
    width: 85%;
 
}

.video-container{
    background-color: black;
    text-align: center;

}

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}


.img_size{
    width: 430px;
    height: 430px;

}

.logo{
    width: 80px;
}
 
.footer {
    
}